body {
  font-family: "Open Sans", sans-serif;
}

.container-wrapper {
  width: 1900px;
  margin: 0 auto;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.nav-main-menu {
  background-color: #313131;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-main-menu {
  padding-left: 27px;
}

.logo-name {
  font-style: bold;
  font-size: 22px;
  line-height: 30px;
  color: #ffffff;
  padding-left: 27px;
}

.nav-list-item {
  display: inline;
  text-transform: uppercase;
  font-style: bold;
  font-size: 15px;
  line-height: 20px;
}

.nav-list-item-link {
  color: #ffffff;
  padding-right: 35px;
}

.nav-list-item-link-news {
  padding-right: 0;
}

/* .nav-list-item-link:hover {
  color: #14b9d5;
} */

.search-wrapper {
  width: 70px;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-top: 28px;
  padding-bottom: 26px;
}

.btn-search {
  background: none;
  border: none;
}

.news-wrapper {
  background-image: url(../img/city\ background.svg);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 163px;
  padding-bottom: 74px;
  /* max-height: 438px; */
}

.title-news {
  font-style: bold;
  font-size: 27px;
  line-height: 37px;
  color: #ffffff;
  padding-bottom: 44px;
}

.search-news {
  display: inline;
}

.btn-search-news {
  background: #89ca62;
  border: 0;
  border-radius: 1px;
  padding: 17px 19px;
  font-size: 18px;
  line-height: 25px;
  font-style: bold;
  color: #ffffff;
  margin-right: 25px;
}

.btn-search-news-articles {
  background: #14b9d5;
  padding: 17px 30px;
  margin-right: 0;
  margin-bottom: 74px;
}

.popular-posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  background: #f2f2f2;
}

.title-posts {
  font-style: bold;
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
  color: #18b4cf;
  padding-top: 49px;
}

.post-items-wrapper {
  width: 1170px;
  margin-top: 52px;
  margin-bottom: 72px;
  display: flex;
  flex-wrap: wrap;
}

.post-item {
  display: flex;
  flex-direction: column;
  width: 370px;
  padding-right: 30px;
}

.post-item-name {
  background: #ffffff;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
  box-sizing: content-box;
  width: 100%;
  padding-top: 18px;
  padding-bottom: 18px;
  font-style: bold;
  font-size: 18px;
  line-height: 25px;
  color: #353a3d;
  text-align: center;
}

.post-item-insert {
  padding-right: 0;
}

.list-client {
  background-image: url(../img/popular\ client\ background.svg);
  height: 100vh;
  max-height: 588px;
}

.list-client-container {
  display: grid;
  grid-template-columns: 700px 250px 250px 700px;
  grid-template-rows: 169px 169px 250px;
  gap: 0;
  grid-template-areas:
    "title-client title-client title-client title-client"
    "mark-title-client mark-title-client mark-title-client mark-title-client"
    "client1 client2 client3 client4";
}

.title-client {
  grid-area: title-client;
  align-self: flex-end;
  justify-self: center;
}
.mark-title-client {
  grid-area: mark-title-client;
  align-self: center;
  justify-self: center;
}

.client1 {
  grid-area: client1;
  justify-self: end;
  padding-right: 30px;
}

.client2 {
  grid-area: client2;
  justify-self: center;
}

.client3 {
  grid-area: client3;
  justify-self: center;
}

.client4 {
  grid-area: client4;
  justify-self: start;
  padding-left: 58px;
}

.title-client {
  font-style: bold;
  text-transform: uppercase;
  font-size: 32px;
  line-height: 44px;
  color: #ffffff;
}

.mark-title-client {
  color: #18b4cf;
  text-decoration: underline;
}

.title-top-rated {
  font-style: bold;
  text-transform: uppercase;
  font-size: 27px;
  line-height: 37px;
  color: #18b4cf;
  margin-top: 51px;
  margin-bottom: 52px;
  text-align: center;
}

.top-rated-wrapper {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(1, 190px);
  gap: 0;
}

.top-rated-item {
  margin-left: -1px;
}

.title-hot-news {
  font-style: bold;
  text-transform: uppercase;
  font-size: 27px;
  line-height: 37px;
  color: #18b4cf;
  margin-top: 48px;
  margin-bottom: 52px;
  padding-bottom: 0;
  text-align: center;
}

.news-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr 1fr 1fr;
  margin-bottom: 71px;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  grid-template-areas:
    "news-1 news-1 news-1 news-2"
    "news-3 news-3 news-4 news-4"
    "news-5 news-5 news-6 news-6"
    "news-7 news-8 news-8 news-8";
}

.item-news {
  background: #f9f7f7;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}

.item-news-hor {
  display: flex;
}

#news-1 {
  grid-area: news-1;
}

#news-2 {
  grid-area: news-2;
}

#news-3 {
  grid-area: news-3;
}

#news-4 {
  grid-area: news-4;
}

#news-5 {
  grid-area: news-5;
}

#news-6 {
  grid-area: news-6;
}

#news-7 {
  grid-area: news-7;
}

#news-8 {
  grid-area: news-8;
}

.title-item-new {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: right;
  padding-top: 14px;
  padding-bottom: 14px;
  color: #353a3d;
  margin-right: 14px;
}

.text-item-news {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  text-align: right;
  color: #5b6469;
  margin-right: 15px;
  margin-left: 14px;
  padding-bottom: 3px;
}

.footer {
  background-color: #000000;
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "right-company footer-logo ";
}

.footer-right-company {
  font-size: 13px;
  line-height: 13px;
  color: #ffffff;
  margin: 30px 0px;
  grid-area: right-company;
}

.footer-logo {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  grid-area: footer-logo;
}
